$bgcolor: #201B1D;
$pink: #B25656;
$dark-pink: #a13838;
$dark-green: #3B7D75;
$gray: rgb(184, 183, 183);
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #312a2d;
  border-radius: 10px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: $pink;
  border-radius: 10px;
  padding: 1px;
  border: 0.4em solid #312a2d;

  &:hover {
    background: $pink;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
.root,
body {
  background-color: $bgcolor;
  margin: 0;
  padding: 0;
}
.container {
  background-color: $bgcolor;
}
